---
title: Welcome
layout: base
---

<section class="carousel-section">
    <div id="carousel-example-generic" class="carousel carousel-razon slide" data-ride="carousel" data-interval="6000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                   <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">A Dental Practice where<br>Patients Come First</h1>
                                   <h2 class="animated fadeInDownBig animation-delay-5  carousel-subtitle">We're here because your smile matters!</h2>
                                   <ul class="list-unstyled carousel-list">
                                       <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-heart-o"></i>Creating and maintaining healthy smiles for a lifetime</li>
                                       <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-heart-o"></i>Advanced cosmetic dentistry for smile restoration</li>
                                       <li class="animated bounceInLeft animation-delay-15"><i class="fa fa-heart-o"></i>Routine dentistry for your entire family</li>
                                   </ul>
                               </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 carousel-img-wrap">
                            <div class="carousel-img">
                                <img src="/images/office-staff.jpg" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                   <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Welcoming Dr. Rachael Phillips</h1>
                                   <h2 class="animated fadeInDownBig animation-delay-5  carousel-subtitle">Rachael Phillips, D.D.S. joins our practice</h2>
                                   <ul class="list-unstyled carousel-list">
                                       <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-heart-o"></i>Rachael brings an outgoing personality, compassion, love for dentistry and a desire to provide excellent care to a practice that utilizes all the latest in technology and techniques.</li>
                                   </ul>
                               </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 carousel-img-wrap">
                            <div class="carousel-img">
                                <a href="/our_team"><img src="/images/rachael-phillips-dds.jpg" class="img-responsive animated bounceInUp animation-delay-3" alt="Image"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-7">
                            <div class="carousel-caption">
                                <div class="carousel-text">
                                   <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Advanced Restorative Dentistry</h1>
                                   <h2 class="animated fadeInDownBig animation-delay-5  carousel-subtitle">Polk County's Only iTero for Digital Impressions</h2>
                                   <ul class="list-unstyled carousel-list">
                                       <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-heart-o"></i>iTero replaces messy impressions with high-resolution optical scanning</li>
                                       <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-heart-o"></i>Increased accuracy and comfort for better results</li>
                                   </ul>
                               </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 carousel-img-wrap">
                            <div class="carousel-img">
                                {% include itero.html %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- carousel -->

<header id="header-full">
    <div class="wrap-primary">
        <div class="container">
            <h1 class="head-title animated bounceInDown animation-delay-8">{{ site.title }}</h1>
            <h2 class="secondary-color text-center head-subtitle animated fadeInUp animation-delay-14">The Cosmetic and Family Practice For All Your Dental Needs</h2>
            <p class="lead text-center animated fadeInUp animation-delay-14">Dr. Craig Valentine and Dr. Rachel Phillips provide excellence in a full range of dental treatments and can give you that dazzling new smile you've always dreamed about! We specialize in cosmetic dentistry, including crowns, bonding, porcelain veneers and in-office whitening.
            <div class="row header-full-icons text-center hidden-xs">
                <div class="col-sm-3 animated fadeInDown animation-delay-19">
                    <span class="icon-ar icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-star-o"></i></span>
                    <h3>Experienced</h3>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-22">
                    <span class="icon-ar icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-smile-o"></i></span>
                    <h3>Friendly</h3>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-20">
                    <span class="icon-ar icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-heart"></i></span>
                    <h3>Compassionate</h3>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-21">
                    <span class="icon-ar icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-clock-o"></i></span>
                    <h3>Convenient</h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <section class="margin-bottom">
        <div class="row">
             <div class="col-md-12">
                <h2 class="right-line">Welcome!</h2>
                <p class="lead">Dr. Valentine, Dr. Phillips and their skilled and caring staff welcome you to our practice. We invite you to learn how we assist in creating and maintaining a beautiful and healthy smile for a lifetime.</p>

                <p class="lead">Our patients love feeling like part of the family every time they visit. Featuring quality treatment and the best service possible, we see patients from throughout central Florida for cosmetic smile restoration and routine family dentistry.</p>
             </div>
        </div>
    </section>

    <section class="margin-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2 class="right-line">Our Services</h2>
            </div>

            {% for service in site.data.services %}
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-heart-o"></i></span>
                        <div class="text-icon-content">
                            <h3 class="no-margin">{{ service.name }}</h3>
                            {{ service.summary }}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div> <!-- row -->
        <p class="lead lead-lg text-center primary-color margin-bottom wow fadeInDown">Let us artistically design an exquisite smile just for you.</p>
    </section>

</div>
