---
title: Welcoming New Patients
layout: page
---
<div class="panel panel-default  animated fadeInDown animation-delay-8">
    <div class="panel-body">
        <div class="clearfix"></div>
          <img src="/images/office-staff.jpg" class="full-width-sm alignleft imageborder" alt="Image">
        <div class="no-margin-top">
          <p class="lead">In addition to our comprehensive New Patient Exam, which includes digital radiography, oral cancer screening, and periodontal evaluation, <strong>for new patients we are offering a free professional teeth whitening kit.</strong></p>
          <p class="lead">We offer affordable pricing with discounts for uninsured patients.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% include practice_information.html %}
{% include new_patient_forms.html %}
