<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-widget-title">Sitemap</h3>
                <ul class="list-unstyled three_cols">
                    {% for link in site.data.sitemap %}
                        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                    {% endfor %}
                </ul>
                <h3 class="footer-widget-title">Subscribe</h3>
                <p>Our email newsletter provides helpful information and special offers for your dental health.</p>
                {% include mailchimp.html %}
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Recent Newsletters</h3>
                    {% for newsletter in site.data.newsletters limit:3 %}
                        <div class="media">
                            <a class="pull-left" href="#"><img class="media-object" src="{{ newsletter.image }}" width="75" height="75" alt="image"></a>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="{{ newsletter.url }}">{{ newsletter.title }}</a></h4>
                                <small>{{ newsletter.date }}</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-widget contact-info">
                    <h3 class="footer-widget-title">Contact</h3>
                    <strong>{{ site.name }}</strong><br>
                    {% include contact.html %}

                    <!-- Business Hours -->
                    <h3 class="footer-widget-title">Business Hours</h3>
                    <ul class="list-unstyled">
                        <li><strong>Monday-Thursday:</strong> 7:30am to 5:30pm</li>
                        <li><strong>Friday:</strong> 7:30am to 4:30pm</li>
                        <li><strong>Saturday:</strong> Closed</li>
                        <li><strong>Sunday:</strong> Closed</li>
                    </ul>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
<footer id="footer">
    <p>&copy; {{ site.time | date: "%Y" }} <a href="/">{{ site.name }}</a>. All rights reserved.</p>
</footer>
