<aside id="footer-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-widget-title">Sitemap</h3>
                <ul class="list-unstyled three_cols">
                    {% for link in site.data.sitemap %}
                        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                    {% endfor %}
                </ul>
                <h3 class="footer-widget-title">Subscribe</h3>
                <p>We'll provide helpful information and special offers for your dental health.</p>
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="//drcraigvalentine.us4.list-manage.com/subscribe/post?u=af89a8a4301425b4df772eb66&amp;id=5c6dc601da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="mc-field-group input-group">
                            <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-ar btn-primary">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_af89a8a4301425b4df772eb66_5c6dc601da" tabindex="-1" value="">
                        </div>
                    </form>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    <!--End mc_embed_signup-->
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-widget-title">Recent Post</h3>
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="/images/demo/m2.jpg" width="75" height="75" alt="image"></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Lorem ipsum Duis quis occaecat minim lorem ipsum tempor officia labor</a></h4>
                            <small>August 18, 2013</small>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="/images/demo/m11.jpg" width="75" height="75" alt="image"></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Lorem ipsum dolor excepteur sunt in lorem ipsum cillum tempor</a></h4>
                            <small>September 14, 2013</small>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="/images/demo/m4.jpg" width="75" height="75" alt="image"></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="#">Lorem ipsum Dolor cupidatat minim adipisicing et fugiat</a></h4>
                            <small>October 9, 2013</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-widget contact-info">
                    <h3 class="footer-widget-title">Contact</h3>
                    <strong>{{ site.name }}</strong><br>
                    {% include contact.html %}

                    <!-- Business Hours -->
                    <h3 class="footer-widget-title">Business Hours</h3>
                    <ul class="list-unstyled">
                        <li><strong>Monday-Thursday:</strong> 7:30am to 5:30pm</li>
                        <li><strong>Friday:</strong> 7:30am to 4:30pm</li>
                        <li><strong>Saturday:</strong> Closed</li>
                        <li><strong>Sunday:</strong> Closed</li>
                    </ul>
                </div>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</aside> <!-- footer-widgets -->
<footer id="footer">
    <p>&copy; {{ site.time | date: "%Y" }} <a href="/">{{ site.name }}</a>. All rights reserved.</p>
</footer>
