<header id="header-full-top" class="hidden-xs header-full">
    <div class="container">
        <div class="header-full-title">
            <h1 class="animated fadeInRight"><a href="/">{{ site.title }}</a></h1>
            <p class="animated fadeInRight">{{ site.subtitle }}</p>
        </div>
        <nav class="top-nav">
            <div class="row">
                <ul class="top-nav-social hidden-sm">
                    <li><a href="#" class="animated fadeIn animation-delay-6 rss"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="animated fadeIn animation-delay-9 yelp"><i class="fa fa-yelp"></i></a></li>
                </ul>

                <div class="dropdown animated fadeInDown animation-delay-13">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-search-box animated fadeInUp">
                        <form role="form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-ar btn-primary" type="button">Go!</button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="animated fadeInRight text-center">
                        {% include contact.html %}
                    </div>
                </div>
            </div> <!-- dropdown -->
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->
