<header id="header-full-top" class="hidden-xs header-full">
    <div class="container">
        <div class="header-full-title">
            <h1 class="animated fadeInRight"><a href="/">{{ site.title }}</a></h1>
            <p class="animated fadeInRight">{{ site.subtitle }}</p>
        </div>
        <nav class="top-nav">
            <div class="row">
                <ul class="top-nav-social hidden-sm">
                    <li><a href="{{ site.rss }}" class="animated fadeIn animation-delay-6 rss"><i class="fa fa-rss"></i></a></li>
                    <li>
                        <div id="yelp-biz-badge-plain-g3wRxkW132j5QH-S2EOalA" class="animated fadeIn animation-delay-9 yelp">
                            <a href="{{ site.yelp }}" class="animated fadeIn animation-delay-9 yelp"><i class="fa fa-yelp"></i></a>
                        </div>
                        <script>(function(d, t) {var g = d.createElement(t);var s = d.getElementsByTagName(t)[0];g.id = "yelp-biz-badge-script-plain-g3wRxkW132j5QH-S2EOalA";g.src = "//yelp.com/biz_badge_js/en_US/plain/g3wRxkW132j5QH-S2EOalA.js";s.parentNode.insertBefore(g, s);}(document, 'script'));</script>
                    </li>
                    <li><a href="{{ site.healthgrades }}" class="animated fadeIn animation-delay-9 facebook"><i class="fa fa-h-square"></i></a></li>
                </ul>
            </div>
            <div class="row">
                <div class="animated fadeInRight text-center">
                    {% include contact.html %}
                </div>
            </div>
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->
