<div class="row">
    <div class="col-md-6">
        <h2 class="right-line">Making an Appointment</h2>
        <p>You may contact us by phone at 863-646-8511 to schedule an evaluation, or a complimentary second opinion. All of our patients are seen by appointment only. We try to accommodate our patients' schedules as best we can, including new patients and emergencies.</p>
    </div>
    <div class="col-md-6">
        <h2 class="right-line">Conflicts with Scheduled Appointments</h2>
        <p>If you are unable to keep an appointment, we ask that you kindly provide us with at least 48 hours notice. We ask for this advance notice so that we can offer this appointment to another patient. A fee may be charged if a patient does not show up for an appointment without sufficient notice.</p>
    </div>
</div> <!-- row -->
<div class="row">
    <div class="col-md-6">
        <h2 class="right-line">Insurance &amp; Financial</h2>
        <p>Currently we are in network with Delta Dental, Met Life and Cigna. With any other insurance you will need to confirm that you may see a dentist out of network. Forms of payment accepted by the office are check, cash, and any major credit card. We also work with Care Credit, which offers payment plans with 0% interest for up to 12 months. We will be more than happy to submit all insurance forms for you and help you recover the most from your benefits. We will do everything we can to help you afford the treatment you need and desire.</p>
    </div>
    <div class="col-md-6">
        <h2 class="right-line">State-of-the-Art Facility</h2>
        <p>We pride ourselves in providing a state-of-the-art facility to deliver the highest quality dental care possible. It is one of our top priorities to protect the well-being of our valued patients. For this reason, our office meets and surpasses all OSHA (Occupational Safety and Health Administration) and CDC (Center for Disease Control) standards. We are confident that you will feel right at home in our office. We welcome all patients as if they were family.</p>
    </div>
</div> <!-- row -->
